.page {
  display: grid;
  grid-template-areas:
    'header header header'
    'nav article ads'
    'footer footer footer';
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
}

.pageHeader {
  grid-area: header;
  background-color: green;
}
.pageFooter {
  grid-area: footer;
  background-color: green;
}
.mainArticle {
  grid-area: article;
  background-color: green;
}
.mainNav {
  grid-area: nav;
  background-color: green;
}
.siteAds {
  grid-area: ads;
  background-color: green;
}
